.lefttop, .righttop, .leftbottom, .rightbottom{ 
    height: 50%;
    width: 50%; 
}

.lefttop{
    background: url("https://drive.google.com/file/d/1l0naI3f5UKcasgox5-1Zw7mD-T5cUpr_/preview");
}

.righttop{
    background: blue;
}

.leftbottom{
    background: blue;
}

.rightbottom{
    background:red;
}
