.lefttop, .righttop, .leftbottom, .rightbottom{ 
    height: 100%;
    width: 100%; 
}

.lefttop{
    background: red;
}

.righttop{
    background: blue;
}

.leftbottom{
    background: blue;
}

.rightbottom{
    background:red;
}
