.lefttop, .righttop, .leftbottom, .rightbottom{ 
    height: 50%;
    width: 50%; 
}

.lefttop{
    background: red;
}

.righttop{
    background: red;
}

.leftbottom{
    background: yellow;
}

.rightbottom{
    background:yellow;
}

#grad {
  background-image: linear-gradient(red, yellow);
}
